# Don't track content of these folders
Data_Tools/selfies/
Data_Tools/env/
Data_Tools/artists_scraped/
Data_Tools/artists_*
image_processing
Autonomous_Artist/venv


# Don't track env
.env
.env*


# Don't track images or movies
*.jpg
*.png
*.mp4

# Don't track artist list
*.csv

# Don't track local files
*.DS_Store
__pycache__
.ipynb_*

# Don't track files folder
files/
